.tool-bar {
    box-sizing: border-box;
    width: 100%;
    flex: "none";
    height: 60px;
    background-color: #444;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    user-select: none;
    .tool {
        width: 60px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #555;
        border-radius: 4px;
        margin-right: 10px;
        color: #ccc;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }
    .active {
        background-color: rgb(124, 118, 248);
    }
    .clear-btn {
        &:active {
            background-color: #888;
        }
    }
}
