html,
body,
#root {
    width: 100%;
    height: 100%;
}
.App {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.item-wrapper {
    box-sizing: border-box;
    width: calc(50% - 20px);
    height: calc(50% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.item-title {
    padding-left: 4px;
    padding-bottom: 6px;
    border-bottom: 1px solid rgb(180, 240, 17);
}

.item-main {
    padding: 10px 0;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 4px;
}
